/* Set background color to dark blue */
body {
  background-color: #0a192f;
  color: #f5f5f5;
}

/* Style the header section */
header {
  background-color: #172a45;
  color: #f5f5f5;
  padding: 20px;
  text-align: center;
}

/* Style the navigation links */
nav {
  background-color: #0f1b2d;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  position: sticky;
  top: 0;
  z-index: 1;
}

nav a {
  color: #f5f5f5;
  text-decoration: none;
  margin: 0 10px;
  padding: 5px;
  font-weight: bold;
}

nav a:hover {
  background-color: #5f5f5f;
}

/* Style the main content section */
.main {
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
}

.section {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.section h2 {
  margin-top: 0;
}

/* Style the education and experience lists */
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul li {
  margin: 10px 0;
}

/* Style the footer section */
.footer {
  background-color: #172a45;
  color: #f5f5f5;
  padding: 20px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* Media queries for mobile devices */
@media only screen and (max-width: 768px) {
  header {
    padding: 10px;
  }

  nav {
    padding: 5px;
  }

  nav a {
    margin: 0 5px;
    padding: 3px;
    font-size: 14px;
  }

  .main {
    margin: 10px;
  }

  .section {
    padding: 10px;
  }
  .contact {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 50px;
  }
  
  .contact h2 {
    text-align: center;
  }
  
  .contact ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .contact li {
    margin-bottom: 10px;
  }
  
  .contact a {
    color: #fff;
    text-decoration: none;
  }
}